

body {
  background-color: #202125;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;

}

@font-face {
  font-family: 'roboto';
  src: url(fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Futura';
  src: url(fonts/futura-pt-w01-bold.ttf);
  font-style: bold;
  font-weight: 300;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button_1 {
  height: 29px;
  background: #93AB54;
  font-family: futura;
  font-size: 15px;
  border: 0;
  padding-left: 13px;
  padding-right: 13px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background-color: #ffffff;
  color: #202125 !important;
  font-family: roboto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dark > h3 {
  text-transform: uppercase;
}

/* Header */

header {
  background: #202125;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #93AB54 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  font-family: futura;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left
}

header #branding h1 {
  font-family: futura;
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #93AB54;
  font-weight: bold;
}

header a:hover {
  color:#cccccc;
  font-weight: bold;
}


/* Showcase */


#showcase {
  min-height: 400px;
  background: url("img/bg3.jpg") no-repeat 0 -400px;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  font-family: roboto;
}

#showcase p {
  font-family: roboto;
  font-weight: 100;
}

/* Newsletter */

#newsletter {
  font-family: futura;
  font-style: uppercase;
  font-weight: lighter;
  color: #ffffff;
  background: #202125;
}

#newsletter h1 {
  font-size: 21px;
  float: left;
  margin-top: 27px;
}

#newsletter form {
  float: right;
  margin-top: 33px;
}

#newsletter input[type="email"] {
  padding: 3px;
  height: 20px;
  width: 217px;
}

/* Boxes */

#boxes {
  margin-top: 20px;
  background-color: #ffffff;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box > h3 {
  font-family: roboto;
  font-size: 20px;
}

#boxes .box > p {
  font-family: roboto;
  font-size: 15px;
}


#boxes .box img {
  width: 90px;
  padding-top: 15px;
}

/* Main-col */

article#main-col {
  float: left;
  width: 65%;
}

#main-col p {
  font-family: roboto;
  color: #B3B3B3;
}

.page-title {
  color: #ffffff;
  text-transform: uppercase;
}

/* Sidebar */

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 52px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}


/* Services */

ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #ffffff;
}

#services li p {
    color: #202125;
}

#sidebar .dark {
  width: 80%;
}


/* Footer */


footer {
  padding: 9px;
  margin-top: 20px;
  font-family: roboto;
  color: #ffffff;
  background-color: #202125;
  text-align: center;

}

/* Media Queries */

@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

header {
  padding-bottom: 20px;
}

#showcase h1 {
  margin-top: 40px;
}

#newsletter button, .quote button {
  display: block;
  width: 100%;
}

#newsletter form input[type="email"], .quote input, .quote textarea {
  width: 100%;
  margin-bottom: 5px;
 }
}
